<p>Dear <%= Name %>,</p>
<br>
Please change your password as soon as possible, as the link is valid few hours only.
Click <a href="http://c2c.acmvit.in/user/editpassword/<%=id%>">CHANGE PASSWORD</a>

<br>
Still facing any difficulty? , we are happy to help any time.
<br>
Regards,<br>
ACM-VIT
</p>

