<form  action="/session/create" method="POST"  class="form-signin">

  <div class="row">
    <h4 class="center-align">Sign Up</h4>
  </div>
  <div class="col s12 m6">
    <div class="input-field">
      <input required type="text" required id="name" class="validate" name="name">
      <label for="name">New Username</label>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="input-field">
      <input required type="email" required id="email" class="validate" name="email">
      <label for="email" data-error="Incorrect">Email</label>
    </div>
  </div>

  <div class="buttons">

    <button class="btn waves-effect waves-light right signupsubmitbutton" type="submit">Sign Up
    </button>
  </div>
</form>


<% if(flash && flash.err) { %>
<ul class="alert alert-success">
  <% Object.keys(flash.err).forEach(function(error) { %>
  <li class="error-red"><%- JSON.stringify(flash.err[error]) %></li>
  <% }) %>
</ul>
<% } %>
