 <br><br>
   <div class="footer-divider">
   </div>
   <br>
   <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col s6 m3 l2 offset-m1 offset-l1 center footer-acm-div">
          <a href="http://acmvit.in/" target="_blank">
            <img src="/images/acmwhite.png" class="responsive-img">
          </a>
        </div>
        <div class="col s6 hide-on-med-and-up center">
          <a href="http://www.vit.ac.in/" target="_blank">
            <img src="/images/vitlogo2_white.png" class="responsive-img">
          </a>
        </div>
        <div class="col s12 m4 l6 center">
          <a href="http://c2c.acmvit.in/"><img src="/images/c_only.png" class="responsive-img footer-logo-c2c"></a>
          <div class="social-div">
            <a href="https://www.facebook.com/ACM.VITU" target="_blank" class="social-a social-facebook"><i class="smooth-transition fa fa-2x fa-facebook"
             aria-hidden="true"></i>
           </a>
           <a href="https://twitter.com/ACMVITU" target="_blank" class="social-a social-twitter"><i class="smooth-transition fa fa-2x fa-twitter"
            aria-hidden="true"></i>
          </a>
          <a href="https://github.com/ACM-VIT" target="_blank" class="social-a social-github"><i class="smooth-transition fa fa-2x fa-github"
           aria-hidden="true"></i>
         </a>

       </div>
       <span class="footer-follow-text white-text">Follow us for latest updates</span>
     </div>
     <div class="col s6 m3 l2 hide-on-small-only center footer-vit-div">
      <a href="http://www.vit.ac.in/" target="_blank">
        <img src="/images/vitlogo2_white.png" class="responsive-img">
      </a>
    </div>
  </div>
</div>
</footer>
 
<div id="back-to-top" style="display: block;">
  <a onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Back to Top</a>
</div>