  <!--NAV START-->
  <ul id="dropdown1" class="dropdown-content">
    <li>
      <a href="/user/edit">
        <div class="user-info-nav
        <% if(active=='userEdit'){ %>
        active-colour
        <% } %>
        ">
        <i class="fa fa-user fa-2x ver-align-middle" aria-hidden="true"></i>
        <span class="usernameField"></span>
      </div>
    </a>
  </li>
  <li class="my_team_li">
    <a href="/team/myteam"
    <% if(active=='myteam'){ %>
    class='active-colour'
    <% } %>
    ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="myteam_span"></span></a>
  </li>
  <li class="create_a_team_li"><a href="/team/new"
   <% if(active=='teamNew'){ %>
   class='active-colour'
   <% } %>
   ">
   <i class="fa fa-plus" aria-hidden="true"></i> Create a Team</a>
 </li>
 <li class="divider"></li>
 <li><a href="/session/destroy">Logout</a></li>
</ul>
<div class="nav-wrap navbar-fixed">
  <nav class="smooth-transition navelem">
    <div class="nav-wrapper">
      <a class="brand-logo" href="http://c2c.acmvit.in/"><img src="/images/logowhite_t.png" class="responsive-img"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="navlink a-home
         <% if(active=='rules'){ %>
         nav-active
         <% } %>
         " href="/rules">Rules</a>
       </li>
       <li><a class="navlink a-home
         <% if(active=='agenda'){ %>
         nav-active
         <% } %>
         " href="/tracks">Tracks</a>
       </li>
       <li><a class="navlink a-home
         <% if(active=='teamShowall'){ %>
         nav-active
         <% } %>
         " href="/team/showall">All Teams</a>
       </li>
       <li><a class="navlink a-home
        <% if(active=='userShowall'){ %>
        nav-active
        <% } %>
        " href="/user/showall">All Members</a>
      </li>
      <li><a href="/team/viewrequest" class="navlink a-home
       <% if(active=='teamViewrequest'){ %>
       nav-active
       <% } %>
       ">View Invites</a>
     </li>
     <!-- Dropdown Trigger -->
     <li><a class="dropdown-button active-colour" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-2x" aria-hidden="true"></i><i class="material-icons right margin-left-0">arrow_drop_down</i></a></li>

   </li>
 </ul>
 <ul class="side-nav" id="mobile-demo">
  <li><a class="navlink a-home" href="/rules">Rules</a>
  </li>
  <li><a class="navlink a-home" href="/tracks">Tracks</a>
  </li>
  <li><a class="navlink a-home" href="/team/showall">All Teams</a>
  </li>
  <li><a class="navlink a-home" href="/user/showall">All Members</a>
  </li>
  <li><a class="navlink a-home" href="/viewrequests">View Invites</a>
  </li>
  <li>
   <a href="/user/edit">
     <div class="user-info-nav
     <% if(active=='userEdit'){ %>
     active-colour
     <% } %>
     ">
     <i class="fa fa-user fa-2x ver-align-middle" aria-hidden="true"></i>
     <span class="usernameField"></span>
   </div>
 </a>
</li>
<li class="my_team_li">
 <a href="/team/myteam"
 <% if(active=='myteam'){ %>
 class='active-colour'
 <% } %>
 ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="myteam_span"></span></a>
</li>
<li class="create_a_team_li"><a href="/team/new"
 <% if(active=='teamNew'){ %>
 class='active-colour'
 <% } %>
 ">
 <i class="fa fa-plus" aria-hidden="true"></i> Create a Team</a>
</li>
<li class="divider"></li>
<li><a href="/session/destroy">Logout</a></li>
</ul>
</div>
</nav>
</div>
<!-- NAV END-->
