  <div class="nav-wrap">
    <nav class="smooth-transition navelem">
      <div class="nav-wrapper">
        <a class="brand-logo" href="http://c2c.acmvit.in/"><img src="/images/logowhite_t.png" class="responsive-img"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/rules">Rules</a>
          </li>
          <li>
            <a href="/tracks">Tracks</a>
          </li>
         <!--  <li>
            <a href="/timeline">Timeline</a>
          </li>
          <li>
            <a href="/prizes">Prizes and Perks</a>
          </li> -->
          <% if(active!='register') { %>
          <li>
          <a href="/register" class="navlink active a-register btn waves-effect waves-light nav-reg-but">Register</a>
          </li>
          <% } %>
          <% if(active!='login') { %>
          <li>
            <a href="/login" class="navlink a-login active btn waves-effect waves-light nav-reg-but">Login</a>
          </li>
          <% } %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
         <li><a href="/register" class="navlink a-register">Register</a>
         </li>
         <li><a href="/login" class="navlink a-login">Login</a>
         </li>
       </ul>
     </div>
   </nav>
 </div>