

<p>Dear <%= receivername %>,</p>

Thankyou for registering in one of the biggest event - ACM|HACKATHON!!
<br>
You got a new request to join team from <b><%=sendername%></b>
<br>
<a href="http://c2c.acmvit.in/team/viewrequest">Join Now</a>
Regards,<br>
ACM-VIT
</p>


