<p>Dear <%= receivername %>,</p>
<br/>

Thankyou for registering in one of the biggest event - ACM|HACKATHON!!
<br>
You got a new request to join team from <%=sendername%>
<br>
<a href="http://c2c.acmvit.in/team/viewrequest">Join Now</a>
Regards,<br>
ACM-VIT
</p>


