<p>Dear <%= Name %>,</p>
<br/>

Thankyou for registering in one of the biggest event - ACM|HACKATHON!!
<br>
You got a new request to join team.
<br>
<a href="http://c2c.acmvit.in/team/viewrequest">Join Now</a>
Regards,<br>
ACM-VIT
</p>


