<p>Dear <%= receivername %>,</p>

<br>
You got a new request to join team from <b><%=sendername%></b>
<br>
<a href="http://c2c.acmvit.in/team/viewrequest">Join Now</a>
Regards,<br>
ACM-VIT
<br>
<a href="http://c2c.acmvit.in/">Code 2 Create</a> - Create. Innovate. Learn.
</p>


