    <link rel="stylesheet" href="/styles/app_common.css">
     <style>
      #submit_mock {
        margin-top: 20px;
      }
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
        border: 2px solid #1eb76e;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
        background-color: #1eb76e;
      }
      .track-img{
       margin-top: 5%;
       height: 190px !important;
       width: 100%;
     }
   </style>

    <%- partial('./partials/navbar.ejs', {active: 'agenda'}) %>
   <div class="container">
  <div class="heading-bg">
   <h5 class="left-align white-text main-heading">About Tracks</h5>
 </div>
 <div class="my-main-card hoverable">
   <div class="tracks-wrap">
    <p class="white-text">Tracks are the fields of the problems. We have four tracks. Each team can choose their own track. Based on the track, the team can choose a problem statement</p>
    <div class="row wow fadeInUp">
      <div class="track-wrap">
        <div class="col m3">
          <img src="images/tracks/ar.png" class="responsive-img rounded-img track-img">
        </div>
        <div class="col m9 white-text">
          <h5 class="left-align color-theme-green">AR/VR</h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="track-wrap">
        <div class="col m9 white-text">
          <h5 class="left-align color-theme-green">Clean Energy</h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="col m3">
          <img src="images/tracks/clen.jpg" class="responsive-img rounded-img track-img">
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="track-wrap">
        <div class="col m3">
          <img src="images/tracks/fintech.jpg" class="responsive-img rounded-img track-img">
        </div>
        <div class="col m9 white-text">
        <h5 class="left-align color-theme-green">FinTech</h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
     <div class="row wow fadeInUp">
      <div class="track-wrap">
        <div class="col m9 white-text">
          <h5 class="left-align color-theme-green">Health Care</h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="col m3">
          <img src="images/tracks/helc.jpg" class="responsive-img rounded-img track-img">
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<%- partial('./partials/footer.ejs') %>
<%- partial('./partials/commonScripts.ejs') %>
