        <title>Code2Create - The most spectacular hackathon is coming soon!</title><!-- Behavioral Meta Data -->
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta content="website">
        <meta content="index.html"><!-- Twitter Card Meta Data -->
        <meta content=" Code2Create - The most spectacular hackathon is coming soon!" name="twitter:description">

        <link href="favicon.png" rel="shortcut icon" type="image/png">

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- CSS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'><!-- Styles -->
        <link href="css/loader.css" rel="stylesheet" type="text/css">
        <link href="css/normalize.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link href="css/comingSoon.css" rel="stylesheet" type="text/css">
        <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="css/ie.css" />
        <![endif]-->
        <!-- Javascript -->
        <script src="js/jquery.js"></script>

        <div class="preloader">
            <div class="loading">
                <div class="css-preloader-wrapper">
                    <div class="cssload-thecube">
                      <div class="cssload-cube cssload-c1"></div>
                      <div class="cssload-cube cssload-c2"></div>
                      <div class="cssload-cube cssload-c4"></div>
                      <div class="cssload-cube cssload-c3"></div>
                    </div>
                  </div>
            </div>
        </div>

        
        <div class="wrapper">
            <ul class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" id="scene">
                <li class="layer" data-depth="0.00">
                </li>
                <!-- BG -->

               
                <li class="layer" data-depth="0.10">
                    <div class="background">
                    </div>
                </li>


            
                <li class="layer" data-depth="0.20">
                        
                    <div class="title">
                            <img src="images/c2c.png" style="height: 150px; margin-top: -40px; ">

                        <span class="line"></span>
                    </div>
                
                </li>

                <li class="layer" style="margin-top:100px;" data-depth="0.30">
                    <div class="hero">
                            <p class="sub-title" style="color: rgb(213,236,225); margin-bottom: 36px;">
                                The most spectacular <a href="/"><span style="color: rgb(72,187,135);">hackathon</span></a> is coming soon!
                            </p>
                            <p class="sub-title" style="color: rgb(213,236,225); margin-bottom: 14px;">
                                Registrations will open in
                            </p>
                        <h1 id="countdown">
                            The most spectacular hackathon is coming soon!
                        </h1>

                        
                    </div>
                </li>

            </ul>
        </div>

        <!-- Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="js/plugins.js"></script> 
        <script src="js/jquery.countdown.min.js"></script> 
        <script src="js/cSoon.js"></script>
