    <link rel="stylesheet" type="text/css" href="/styles/hamburger.min.css">
    <link rel="stylesheet" href="/styles/home_slider.css">
    <link rel="stylesheet" type="text/css" href="/styles/team.css">
    <link rel="stylesheet" type="text/css" href="/styles/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/styles/owl.theme.green.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <style>
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
    </style>

    <!-- Preloader -->
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="hero-div-baap" id="home">
    <div class="hero-div">
      <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
        <li><span>Image 06</span></li>
      </ul>
      <div class="container-fluidd hero-content">
        <div class="row center">
          <br>
          <img src="/images/logowhite.png" class="logo-c2c wow fadeInDown" data-wow-delay="0.5s">
        </div>
        <div class="row center white-text">
          <h5 class="moto center hide-on-small-only">
            <i class="fa fa-calendar smooth-transition hero-fa" aria-hidden="true"></i>
            13-15th April &nbsp;| &nbsp;
            ACM-VIT<span class="">&nbsp; | &nbsp;</span>
            <i class="fa fa-map-marker smooth-transition hero-fa" aria-hidden="true"></i> VIT University
          </h5>
          <h5 class="moto center hide-on-med-and-up">
            ACM-VIT
            <br>
            <i class="fa fa-calendar smooth-transition hero-fa" aria-hidden="true"></i>
            13-15th April &nbsp;| &nbsp;
            <i class="fa fa-map-marker smooth-transition hero-fa" aria-hidden="true"></i> VIT University
          </h5>
        </div>
        <h4 class="center white-text">Create. Innovate. Learn.</h4>
        <div class="row type-row">
          <div class="container">
            <div class="type-div center" id="type1">
              <!--    <span class="type-no" id="type_no"></span> -->
              <span class="type-text" id="type_text"></span>
            </div>

          </div>
        </div>
        <div class="row register-but-div center">
          <a href="/register">
            <button class="hero-register-but waves-effect smooth-transition">Register</button>
          </a>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="nav-wrap">
    <div class="nav-placeholder">
    </div>
    <nav class="smooth-transition navelem">
      <div class="nav-wrapper">
        <a class="brand-logo" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);"><img src="images/c_only.png" class="responsive-img"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="navlink a-home" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Home</a>
          </li>
          <li><a class="navlink a-about"
           onclick="$('html, body').animate({scrollTop: $('#about').offset().top-60}, 1000);">About</a>
         </li>
         <li><a class="navlink a-faqs"
           onclick="$('html, body').animate({scrollTop: $('#faqs').offset().top-60}, 1000);">FAQs</a>
         </li>
         <li><a class="navlink a-sponsors"
           onclick="$('html, body').animate({scrollTop: $('#sponsors').offset().top-60}, 1000);">Sponsors</a>
         </li>
         <li><a class="navlink a-organisers"
           onclick="$('html, body').animate({scrollTop: $('#organisers').offset().top-60}, 1000);">Organisers</a></li>
           <li><a class="navlink a-contactus"
             onclick="$('html, body').animate({scrollTop: $('#contactus').offset().top-60}, 1000);">Contact
             Us</a></li>
              <li><a class="navlink btn waves-effect waves-light nav-reg-but" href="/register">Register</a></li>
           </ul>
           <ul class="side-nav" id="mobile-demo">
            <li><a class="navlink a-home" onclick="$('html, body').animate({scrollTop: $('#home').offset().top}, 1000);">Home</a>
            </li>
            <li><a class="navlink a-about"
             onclick="$('html, body').animate({scrollTop: $('#about').offset().top-60}, 1000);">About</a>
           </li>
           <li><a class="navlink a-faqs"
             onclick="$('html, body').animate({scrollTop: $('#faqs').offset().top-60}, 1000);">FAQs</a>
           </li>
           <li><a class="navlink a-sponsors"
             onclick="$('html, body').animate({scrollTop: $('#sponsors').offset().top-60}, 1000);">Sponsors</a>
           </li>
           <li><a class="navlink a-organisers"
             onclick="$('html, body').animate({scrollTop: $('#organisers').offset().top-60}, 1000);">Organisers</a></li>
             <li><a class="navlink a-contactus"
               onclick="$('html, body').animate({scrollTop: $('#contactus').offset().top-60}, 1000);">Contact
               Us</a></li>
                  <li><a class="navlink" href="/register">Register</a></li>
             </ul>
           </div>
         </nav>
       </div>
       <div class="about-wrap" id="about">
        <div class="container container-little-big">
          <div class="row">
            <div class="col s12 center wow fadeInUp">
              <h3 class="heading white-text center">About</h3>
            </div>
            <div class="col s12">
              <br>
              <br><br>
            </div>
            <div class="about-box smooth-transition about-c2c col m5 wow fadeInUp" data-wow-delay="0.5s">
              <div class="center">
                <h4 class="heading center">Code 2 Create</h4>
              </div>
              <p class="center">A thrilling tech sprint is what is awaited by all techies. This April, there is going to be an
                explosion of tech-talks and the participants are going to get high on algorithms. A hackathon is all about
                designing, building and creating. It is a place where graphic designers, software developers, app
                developers and web developers collaborate intensively on software projects. The cherry on the cake is that it
                is free for all. The participants are required to register in a team of 2-4 members. It is an outburst of
                technology. It is a tech-marathon. It is a hackathon.
              </p>
            </div>
            <div class="col s12 hide-on-med-and-up">
              <br>
            </div>
            <div class="about-box smooth-transition about-acm col m5 offset-m2 wow fadeInUp" data-wow-delay="0.5s">
              <div class="center">
                <h4 class="heading center">ACM</h4>
              </div>
              <p class="center">Right from our conception in 2009, ACM VIT has been organising and conducting successful
                technical events, quizzes, seminars and a lot more. We are not just an organisation, we are a family. We are
                a team consisting of professionals in graphic designing, app development, web development and machine learning.
                The websites "All About VIT" and "VIT Cab Share" are some of the treasured creations of members of ACM VIT.
                Technology is our cause and education is our objective. We are the Association for Computing Machinery.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="faqs-wrap" id="faqs">
        <div class="container">
          <div class="row">
            <div class="col s12 center wow fadeInDown">
              <h3 class="heading white-text center">FAQs</h3>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m8 offset-m2 center">
              <div class="faqs-div-wrap wow fadeInUp">
                <div class="faq-wrapper">
                  <div class="faq-div left-align smooth-transition" data-id='1'>
                    <div class="faq-question">
                      When will the Registration start?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                      <p>
                        We will open the registrations very soon! Keep following us.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-wrapper">
                  <div class="faq-div left-align smooth-transition" data-id='1'>
                    <div class="faq-question">
                      What is the Registration Fees?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                      <p>
                        Its free. All are welcome.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-wrapper">
                  <div class="faq-div left-align smooth-transition">
                    <div class="faq-question">
                      What about food and beverages?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                      <p>
                        Its all on us! We would provide you with everything you need. We need you to concentrate on the code.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-wrapper">
                  <div class="faq-div left-align smooth-transition">
                    <div class="faq-question">
                      Who all can participate?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                      <p>
                        Students irrespective of their college/branch can take part in this event.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-wrapper">
                  <div class="faq-div left-align smooth-transition">
                    <div class="faq-question">
                      What are the skills required?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                      <p>
                        Whether you are a coder, designer or a creative tech enthusiast, you are welcome to the event. Even if you
                        don't know coding we will be having technical sessions before the event and mentors during the event.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-wrapper">
                  <div class="faq-div left-align smooth-transition">
                    <div class="faq-question">
                      Is it an individual or team-challenge?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                      <p>
                        Its a team Challenge. It Should have a minimum of 2 and a maximum of 4 members.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-wrapper hide">
                  <div class="faq-div left-align smooth-transition">
                    <div class="faq-question">
                      Who will own the IP(Intellectual Property) and the rights to the product that I have built?
                    </div>
                    <button class="hamburger hamburger--slider right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                  </div>
                  <div class="faq-details left-align white-text">
                    <div class="faq-details-inner">
                     <p> The developer/developers of the web/mobile application will have all rights and own the IP of the
                      product. However, the code needs to be in public domain (open source) so that it can be evaluated by
                      the judges.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sponsors-wrap" id="sponsors">
      <div class="container">
        <div class="col s1 center wow fadeInUp">
          <h4 class="heading white-text">Sponsors</h4>
        </div>
        <div class="col s12">
          <br>
        </div>
        <div class="row">
          <div class="col m5 offset-m1 s12">
            <img src="/images/sponsors/aisec_tt.png" class="sponsors-pic wow fadeInDown responsive-img">
          </div>
          <div class="col m5 s12" style="vertical-align: middle;">
            <img src="/images/sponsors/oil_t.png" class="sponsors-pic wow fadeInDown responsive-img">
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 center">
            <h5 class="center white-text">Cloud Partner</h5>
            <img src="/images/sponsors/digitalocean.png" class="sponsors-pic responsive-img wow fadeInLeft">
          </div>
          <div class="col s12 m6 center">
            <h5 class="center white-text">Online Partner</h5>
            <img src="/images/sponsors/hackerrank.png" class="sponsors-pic responsive-img wow fadeInRight">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col s12 center wow fadeInLeft">
            <h5 class="center display-inline-block white-text">Interested to sponsor our event? Have a look at our &nbsp;</h5>
            <a href="codetocreate.pdf" target="_blank">
              <button class="ghost-btn">Sponsorship Brochure
                <span class="coming-arrow">&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="organisers-wrap" id="organisers">
      <div class="container container-little-big">
        <div class="col s12 center wow fadeInUp">
          <h4 class="heading white-text">Organisers</h4>
        </div>
        <br><br>
        <div class="row">
          <div class="col s12 wow fadeInUp">
            <div class="col m4 center">
              <img src="/images/acmwhite.png" class="responsive-img">
            </div>
            <div class="col m4 center">
              <h4 class="center in-association-text">In Association with</h4>
            </div>
            <div class="col m4 center">
              <br class="hide-on-small-only">
              <img src="/images/site.png" class="responsive-img site-logo">
            </div>
          </div>
        </div>
        <div class="row faculty-div">
          <div class="col s12 center wow fadeInDown">
            <h4 class="center white-text heading">Faculty Organisers</h4>
            <br><br>
          </div>
          <div class="col s12 m4 offset-m2 wow fadeInUp">
            <div class="member-card">
              <img src="/images/people/dean_site.png" class="member-card-img smooth-transition-fast">
              <div class="member-info smooth-transition-fast">
                <div class="member-name-div">
                  <h5 class="member-name">Dr Aswani Kumar</h5>
                </div>
                <h5 class="member-position">Dean SITE</h5>
              </div>
            </div>
          </div>
          <div class="col s0 m1">
            &nbsp;
          </div>
          <div class="col s12 m3 hrv-col wow fadeInUp">
            <div class="member-card hrv-member-card">
              <img src="/images/people/hrv.png" class="member-card-img smooth-transition-fast">
              <div class="member-info smooth-transition-fast">
               <div class="member-name-div">
                <h5 class="member-name">Dr Hari Ram Vishwakarma</h5>
              </div>
              <h5 class="member-position">Faculty Coordinator</h5>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row students-div">
        <div class="center wow fadeInDown">
         <h4 class="center white-text heading">Student Organisers</h4>
       </div>
       <br><br>
       <div class="owl-carousel owl-theme wow fadeInUp">
        <div class="owl-element-wrap">
         <div class="member-card">
          <img src="/images/people/abhinav.png" class="member-card-img smooth-transition-fast">
          <div class="member-info smooth-transition-fast">
           <div class="member-name-div">
             <h5 class="member-name">Abhinav Das</h5>
           </div>
           <h5 class="member-position">President</h5>

           <div class="member-social-links text-center">
            <a href="https://www.facebook.com/jordiie09?fref=hovercard" target="_blank" class="nodecoration" >
              <i class="smooth-transition-fast fa fa-2x fa-facebook"
              aria-hidden="true"></i>
            </a>
            <a href="https://github.com/abhinav-adtechs" target="_blank" class="nodecoration">
              <i class="smooth-transition-fast fa fa-2x fa-github"
              aria-hidden="true"></i>
            </a>

          </div>
        </div>
      </div>
    </div>
    <div class="owl-element-wrap">
     <div class="member-card">
      <img src="/images/people/pranay.png" class="member-card-img smooth-transition-fast">
      <div class="member-info smooth-transition-fast">
       <div class="member-name-div">
        <h5 class="member-name">Pranay Gupta</h5>
      </div>
      <h5 class="member-position">Vice President</h5>

      <div class="member-social-links text-center">
        <a href="https://www.facebook.com/pranay.gupta.3597" target="_blank" class="nodecoration" >
          <i class="smooth-transition-fast fa fa-2x fa-facebook"
          aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/ashwini.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Ashwini Purohit</h5>
  </div>
  <h5 class="member-position">Technical Head</h5>

  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/purohit.ashwini" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
    <a href="https://github.com/ashwini0529" target="_blank" class="nodecoration">
      <i class="smooth-transition-fast fa fa-2x fa-github"
      aria-hidden="true"></i>
    </a>

  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/rahul.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Rahul Nigam</h5>
  </div>
  <h5 class="member-position">Design Head</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/rahulnigam95?fref=pb_other" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/rishi.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Rishi Raj</h5>
  </div>
  <h5 class="member-position">Deputy Technical Head</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/rishirajloyola" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
    <a href="https://github.com/rishiraj824" target="_blank" class="nodecoration">
      <i class="smooth-transition-fast fa fa-2x fa-github"
      aria-hidden="true"></i>
    </a>

  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/mugdha.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Mugdha Pandya</h5>
  </div>
  <h5 class="member-position">General Secretary</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/mugdha.pandya.3?fref=ts" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/tanish.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Tanish Noah</h5>
  </div>
  <h5 class="member-position">Treasurer</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/tanishnoah?fref=pb_other" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/aarti.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Aarti Susan</h5>
  </div>
  <h5 class="member-position">Communication Head</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/AartiSusanKuruvilla?fref=ts" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/mallika.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Mallika Rai</h5>
  </div>
  <h5 class="member-position">University Relations</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/mallika.rai.96" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="owl-element-wrap">
 <div class="member-card">
  <img src="/images/people/lekhani.png" class="member-card-img smooth-transition-fast">
  <div class="member-info smooth-transition-fast">
   <div class="member-name-div">
    <h5 class="member-name">Lekhani Ray</h5>
  </div>
  <h5 class="member-position">Membership Coordinator</h5>
  <div class="member-social-links text-center">
    <a href="https://www.facebook.com/lekhani.ray?fref=pb_other" target="_blank" class="nodecoration" >
      <i class="smooth-transition-fast fa fa-2x fa-facebook"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<br><br>
<div class="contactus-wrap" id="contactus">
  <div class="container">
    <div class="col s12 center wow fadeInUp">
      <h4 class="heading white-text">Contact Us</h4>
    </div>
    <br><br>
    <div class="row center contactus-info">
      <div class="addressdiv col s12 m4 center"><i class="fa fa-map-marker smooth-transition" aria-hidden="true"></i>
        &nbsp;VIT
        University, Vellore
      </div>
      <div class="emaildiv col s12 m4 center">
        <i class="fa fa-envelope smooth-transition" aria-hidden="true"></i>&nbsp;<a
        href="mailto:outreach@acmvit.in" class="" target="_blank">outreach@acmvit.in</a>
      </div>
      <div class="phndiv col s12 m4 center">
        <i class="fa fa-phone-square smooth-transition" aria-hidden="true"></i>&nbsp;+91
        97910 85772
      </div>
    </div>
    <div class="row wow fadeIn">
      <form action="/contact/create" method="post">
        <div class="col s12">
          <div class="input-field col s12 m6">
            <input id="name_contact" type="text" name="name" required>
            <label for="name_contact">Name</label>
          </div>
          <div class="input-field col m6 s12">
            <input id="email_contact" type="email" name="email" required data-success="seems good"
            data-error="something is wrong">
            <label for="email_contact">Email</label>
          </div>
          <div class="input-field col s12">
            <input type="text" name="subject" required id="subject">
            <label for="subject">Subject</label>
          </div>
          <div class="input-field col s12">
            <textarea id="message_contact" class="materialize-textarea" name="message" required></textarea>
            <label for="message_contact">Message</label>
          </div>
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <div class="col s12 center-align">
            <button class="btn waves-effect waves-light contact-sub-but" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>

<%- partial('./partials/footer.ejs') %>
<%- partial('./partials/commonScripts.ejs') %>
<script type="text/javascript" src="/js/vendor/typewriter.js"></script>
<script type="text/javascript" src="/js/type.js"></script>
<script type="text/javascript" src="/js/nav.js"></script>
<script type="text/javascript" src="/js/faq.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/owl.navigation.js"></script>
<script type="text/javascript">
  function set_height() {
    var hero_div_ht = $(".hero-div").height();
    $(".cb-slideshow").css("min-height", hero_div_ht + 'px');
  }
  $(window).ready(function () {
    set_height();

    $(window).resize(function () {
      set_height();
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
   $('.owl-carousel').owlCarousel({
    loop:false,
    margin:10,
    nav:true,
    responsive:{
      0:{
        items:1
      },
      600:{
        items:3
      },
      1000:{
        items:4
      }
    }
  })
 });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".owl-next").html('<i class="fa fa-2x fa-arrow-circle-right smooth-transition-fast" aria-hidden="true"></i>');
    $(".owl-prev").html('<i class="fa fa-2x fa-arrow-circle-left smooth-transition-fast" aria-hidden="true"></i>');
  });
</script>

