    <link rel="stylesheet" href="/styles/app_common.css?1100">
    <link rel="stylesheet" type="text/css" href="/styles/without_login_navbar.css?1100">
    <style>
     .rules-ul li{
      list-style: initial !important;

      margin: 1rem;
    }
    .rules-ul .li-content{

    }
  </style>


  <div class="container">
  <br><br><br><br><br><br><br><br>
   <div class="my-main-card hoverable">
    <h6 class="center white-text">
      We recognise that your privacy is very important and take it seriously.
      The mobile application's use of the camera application is solely for the purpose of scanning of coupon codes. We will not use or share your photos with anyone.
    </h6>
  </div>
</div>


<%- partial('./partials/footer.ejs') %>
<%- partial('./partials/commonScripts.ejs') %>
