    <link rel="stylesheet" href="/styles/app_common.css">
    <style>
      #submit_mock {
        margin-top: 20px;
      }
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
        border: 2px solid #1eb76e;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
        background-color: #1eb76e;
      }
      .track-img{
       margin-top: 5%;
       height: 190px !important;
       width: 100%;
     }
     .rules-ul li{
      list-style: initial !important;

      margin: 1rem;
    }
    .rules-ul .li-content{

    }
  </style>

  <%- partial('./partials/navbar.ejs',{active: 'rules'}) %>
  <div class="container">
    <div class="heading-bg">
     <h5 class="left-align white-text main-heading">Rules and Regulations</h5>
   </div>
   <div class="my-main-card hoverable">
     <ul class="white-text rules-ul">
      <li>
        <span class="li-content">Participants must form a team of 2 - 4 members.</span>
      </li>
      <li>
       <span class="li-content">When you first log in, you have two options - to <a href="/team/new" target="_blank" class="underline-wala">create</a> a team or accept a team's invitation. If you create a team, you become the admin. Then you can send invites to other members to join your team. Other members can accept your invite. </span>
     </li>
     <li>
       <span class="li-content">If you accept a team admin's invite, You become a member in his team. However, you are free to leave the team. Then only you can make a new team or join other team.</span>
     </li>
     <li>
       <span class="li-content">The team admin can choose priority for each track in <a href="/team/myteam" target="_blank" class="underline-wala">myteam</a> . Each track can have around 15 teams. So according to each team's priority and first-come-first-serve basis, we will assign each team it's track. The track will be finalised on the hackathon day itself.  </span>
     </li>
     <li>
       <span class="li-content">You can be a part of only one team at a time.</span>
     </li>
     <li>
       <span class="li-content">Teams will be judged on a number of parameters. The decision of the judges is final and binding.</span>
     </li>
     <li>
       <span class="li-content">Prize money worth INR 30,000 and internships will be awarded to the top 3 teams. Certificates will be provided to all participants.
       </span>
     </li>



   </ul>
 </div>
</div>


<%- partial('./partials/footer.ejs') %>
<%- partial('./partials/commonScripts.ejs') %>
