    <link rel="stylesheet" href="/styles/app_common.css?1100">
    <link rel="stylesheet" type="text/css" href="/styles/without_login_navbar.css?1100">
    <style>
    	.rules-ul li{
    		list-style: initial !important;

    		margin: 1rem;
    	}
    	.rules-ul .li-content{

    	}
    </style>
    <% if(req.session.authenticated) { %>
    <%- partial('./partials/navbar.ejs',{active: 'rules'}) %>
    <% } %>
    <% if(!(req.session.authenticated)) { %>
    <%- partial('./partials/without_login_navbar.ejs',{active: 'rules'}) %>
    <% } %>

    <div class="container">
    	<div class="heading-bg">
    		<h5 class="left-align white-text main-heading">Rules and Regulations</h5>
    	</div>
    	<div class="my-main-card hoverable">
    		<ul class="white-text rules-ul">
    			<li>
    				Code2Create has 4 tracks:
    				<ul>
    					<li><span class="color-theme-green">AR/VR</span></li>
    					<li><span class="color-theme-green">FinTech</span></li>
    					<li><span class="color-theme-green">Clean Energy</span></li>
    					<li><span class="color-theme-green">Health Care</span></li>
    				</ul>
    			</li>
    			<li>
    				Each track comprises of a number of problem statements.
    				<br>
    				A maximum of 6 teams can work on a single problem statement and a maximum of 15 teams are allowed to work on a particular track. ( A total of 60 teams in 4 tracks).
    				<br>
    				Allotment will be based on first come first serve and priorities mentioned during event registration.
    			</li>
    			<li>
    				Technical Inspection - Judgement Criteria
    				<ul>
    					<li><span class="color-theme-green">Uniqueness</span> (Plagiarism check) - 10 points</li>
    					<li><span class="color-theme-green">Feasibility</span> (whether the solution is possible to implement) - 10 points</li>
    					<li><span class="color-theme-green">Implementation</span> of the solution-20 points</li>
    					<li><span class="color-theme-green">Solution</span> to the problem statement-20 points</li>
    					<li><span class="color-theme-green">Presentation</span> (Pitch)- 20 points</li>
    					<li><span class="color-theme-green">User Interface</span> (UI)- 20 points</li>
    				</ul>
    				<span class="" style="color: red;">Red List (25-30 teams)</span>
    			</li>
    			<li>
    				Pitch trivia
    				<ul>
    					<li>The order of the pitching round will be decided on the basis of a team’s performance in the <span class="color-theme-green">quiz</span></li>
    					<li>Pitch Time – 3 minutes per team</li>
    					<li>Cross Questioning (Judging Panel) – 2 minutes per team</li>
    				</ul>
    			</li>
    			<li>
    				Prizes and Certificates
    				<ul>
    					<li>Prize money will be awarded to the 3 winners as per the discretion of the judging panel.</li>
    					<li>Certificates will be awarded to the best team from each track</li>
    					<li>E-certificates for all the participants</li>
    				</ul>
    			</li>
    			<li>
    				General info
    				<ul>
    				<li><span class="color-theme-green">Goodies</span>, <span class="color-theme-green">T-shirts</span> and other <span class="color-theme-green">freebies</span> will be distributed throughout the event.</li>
    				<li>Make yourself available during the technical inspection rounds</li>
    				<li>Internal participants are not allowed to go to their hostel rooms during the night, so if you wish to leave, leave before the in-time</li>
    				<li><span class="color-theme-green">Food and Beverage Coupons</span> can be accessed through our android app. Download <a href="https://play.google.com/store/apps/details?id=acm.event.codetocreate17" target="_blank" class=""><span class="color-theme-green" style="text-decoration:underline;">Code2Create-ACM VIT</span></a> on play store</li>
    				<li>ACMVIT Help:-  Tweet- <span class="color-theme-green">#c2chelpdesk</span></li>
    				<li>ACM follows a zero tolerance policy</li>

    			</li>
    		</ul>
    	</div>
    </div>


    <%- partial('./partials/footer.ejs') %>
    <%- partial('./partials/commonScripts.ejs') %>
