    <link rel="stylesheet" href="/styles/app_common.css?1100">
<link rel="stylesheet" type="text/css" href="/styles/without_login_navbar.css?1100">
    <style>
      .track-img{
       margin-top: 5%;
       width: 100%;
     }
   </style>

   <% if(req.session.authenticated) { %>
  <%- partial('./partials/navbar.ejs',{active: 'tracks'}) %>
  <% } %>
  <% if(!(req.session.authenticated)) { %>
  <%- partial('./partials/without_login_navbar.ejs',{active: 'tracks'}) %>
  <% } %>
   <div class="container">
    <div class="heading-bg">
     <h5 class="left-align white-text main-heading">About Tracks</h5>
   </div>
   <div class="my-main-card hoverable">
     <div class="tracks-wrap">
      <p class="white-text">Tracks differentiate the fields to which our various challenges belong. We have four tracks - AR/VR, Clean Energy, FinTech and Health Care. Based on the track finally allotted to them, teams will be able to pick their challenges.</p>
      <div class="row wow fadeInUp">
        <div class="track-wrap">
          <div class="col m3">
            <img src="images/tracks/track_arvr.png" class="responsive-img rounded-img track-img">
          </div>
          <div class="col m9 white-text">
            <br class="hide-on-small-only">
            <br class="hide-on-small-only">
            <h5 class="left-align color-theme-green">AR/VR</h5>
            Augmented Reality and Virtual Reality are two hot topics in the tech industry. As many have noted, AR and VR have a coolness quotient that few other tracks can offer. They have come to transform every business areas and have slowly made their way in all possible areas starting from Healthcare and restaurants to banking and e-commerce.
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="track-wrap">
          <div class="col m9 white-text">
            <br class="hide-on-small-only">
            <br class="hide-on-small-only">
            <h5 class="left-align color-theme-green">Clean Energy</h5>
            Following the growing concerns over global warming and unprecedented climate change, clean energy is making way for itself in today’s markets. With the majority of the population recognising the need to optimise and generalise the current use of renewable energy sources, they require heavy computing support to harness and efficiently utilise the power of such sources.
          </div>
          <div class="col m3">
            <img src="images/tracks/track_clen.png" class="responsive-img rounded-img track-img">
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="track-wrap">
          <div class="col m3">
            <img src="images/tracks/track_fint.png" class="responsive-img rounded-img track-img">
          </div>
          <div class="col m9 white-text">
            <br class="hide-on-small-only">
            <br class="hide-on-small-only">
            <h5 class="left-align color-theme-green">FinTech</h5>
            FinTech or financial technology has always incubated an ecosystem for innovation in technology and application of the various advanced learning and methodologies in order to provide services that prove helpful to financial processes and to build great reliable softwares.
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="track-wrap">
          <div class="col m9 white-text">
            <br class="hide-on-small-only">
            <br class="hide-on-small-only">
            <h5 class="left-align color-theme-green">Health Care</h5>
            A track whose importance is recognised by all, technology in health care is proving to be of undeniable benefit, with advances in treatment methods being made possible because of the increased ability to identify and treat various ailments.
          </div>
          <div class="col m3">
            <img src="images/tracks/track_helc.png" class="responsive-img rounded-img track-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- partial('./partials/footer.ejs') %>
<%- partial('./partials/commonScripts.ejs') %>
