<link rel="stylesheet" href="/styles/app_common.css?1100">
<style>
</style>


<%- partial('../partials/navbar.ejs',{active: 'teamNew'}) %>
<div class="container">
	<div class="heading-bg">
		<h5 class="left-align white-text main-heading">Create A Team</h5>
	</div>
	<div class="my-main-card hoverable">

		<div class="row">
		<div class="col s12 m10 offset-m1">
				<div class="card container-card" style="background-color:#2b2b2b;">
					<div class="card-content white-text">
						<span class="card-title" style="font-size:20px;">Team Name</span>
						<span>
							<button data-target="modal1" class=" waves-effect waves-dark btn modal-trigger">Evaluate</button>
						</span>

						<hr style="border-color:#19A562;">
						<table style="border:1px solid white;">
							<tr>
								<th>Track</th>
								<th class="separator">:</th>
								<td>Health care</td>
							</tr>
							<tr>
								<th>Problem statement</th>
								<th class="separator">:</th>
								<td>Health care</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>