    <link rel="stylesheet" href="/styles/app_common.css">
    <style>
      #submit_mock {
        margin-top: 20px;
      }
      .error {
        border: solid 1px red;
        color: red;
        padding: 10px;
      }
      .success {
        border: solid 1px green;
        color: green;
        padding: 10px;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
        border: 2px solid #1eb76e;
      }
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
        background-color: #1eb76e;
      }
    </style>

    <%- partial('../partials/navbar.ejs',{active: 'teamViewrequests'}) %>

    <div class="container">
      <div class="heading-bg">
       <h5 class="left-align white-text main-heading">View Invitations</h5>
       <p class="margin-bottom-0 white-text">Here you will see all the invitations that you received for joining teams.</p>
     </div>
     <div class="my-main-card hoverable">
       <table class="bordered striped responsive-table white-text">
        <thead>
          <td>teamid</td>
          <td>Track</td>
          <td class="th-skills-td">Project Idea</td>
          <td>team admin</td>
          <td title="Accept Invitation to join a team (only if you are not a team member)">Accept Invitation</td>
        </thead>
        <tbody>
           <% _.each(teams, function(team) { %>
          <tr>
            <td><a href="viewmember.html" class="ver-align-middlee underline-wala">hkedia321</a></td>
            <td>Harshit Kedia</td>
            <td class="skills-td" title="Send Invitation to a member to join your team(you should be an admin)">I am a web developer. I do front end. I code in HTML,CSS, JS, Angular2, SASS. I am a web developer. I do front end. I code in HTML,CSS, JS, Angular2, SASS. </td>
            <td>VIT University</td>
            <td class="center"><a href="sendrequest" class="send-req-but smooth-transition">Invite</a></td>
          </tr>
          <tr>
            <td><a href="viewmember.html" class="underline-wala">bodhwani</a></td>
            <td>Harshit Kedia</td>
            <td class="skills-td">I am a web developer. I do front end. I code in HTML,CSS, JS, Angular2, SASS. </td>
            <td>VIT University</td>
            <td class="center" title="Send Invitation to a member to join your team(you should be an admin)"><a href="sendrequest" class="send-req-but smooth-transition disabled">Invite</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <%- partial('../partials/footer.ejs') %>
  <%- partial('../partials/commonScripts.ejs') %>