<link rel="stylesheet" href="/styles/app_common.css?1100">


  <div class="container">
   <div class="heading-bg">
     <h5 class="left-align white-text main-heading">Update your password</h5>
   </div>
   <div class="my-main-card hoverable">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <form action="/user/updatepassword/<%= req.param('id') %>" method="POST" id="loginForm" autocomplete="on">
          <div class="input-field col s12 m12">
            <input id="password" type="password" class="validate" required name="password">
            <label for="password">Password <span class="required">*</span></label>
          </div>
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <div class="row">
            <div class="center-align">
              <button type="submit" class="waves-effect btn sub-but" id="submit_mock" onclick="checksame();">Submit <i
                class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<%- partial('../partials/footer.ejs') %>
<%- partial('../partials/commonScripts.ejs') %>
<script>

}
</script>
