<form  action="/user/create" method="POST"  class="form-signin">

  <div class="row">
    <h4 class="center-align">Sign Up</h4>
  </div>
  <div class="col s12 m6">
    <div class="input-field">
      <input required type="text" required id="name" class="validate" name="name">
      <label for="name">New Username</label>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="input-field">
      <input required type="email" required id="email" class="validate" name="email">
      <label for="email" data-error="Incorrect">Email</label>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="input-field">
      <input required type="text" required id="phone" class="validate"  name="phone">
      <label for="phone" data-error="Incorrect">Phone number</label>
    </div>
  </div>
  <div class="buttons">

    <button class="btn waves-effect waves-light right signupsubmitbutton" type="submit">Sign Up
    </button>
  </div>
</form>
