<style type="text/css" link="/styles/"></style>
<p>Dear <%= Name %>,</p>
<br/>

Thankyou for registering in one of the biggest event - ACM|HACKATHON!!
<br>
Now you can  <a href="http://c2c.acmvit.in/team/new">Create your own team</a> and send requests to others, to join in your team.<br>
You can see other member's teams and join their team as well.<br>
Hurry Up! Limited seats available!<br>
For more details, please refer <a href="http://c2c.acmvit.in">This Link</a>
<br>
Regards,<br>
ACM-VIT
</p>


