

<p>Dear <%= Name %>,</p>
<br>

<%= Teamuser %> has removed you from its team.
<br>
You can join other member's requests or Create your own team and send request to other users, to be in your team.<br>

<a href="http://c2c.acmvit.in/user/showall">Here are all users</a>
<br>
Regards,<br>
ACM-VIT
</p>


