

<p>Dear <%= Name %>,</p>
<br>

<%= Teamuser %> has removed you from their team.
<br>
You can accept other member's invites or Create your own team and send invites to other users, to be in your team.<br>

<a href="http://c2c.acmvit.in/user/showall">Here are all users</a>
<br>
Regards,<br>
ACM-VIT
</p>


