/* 
theme greeen: #1eb76e;
light background in about-box :#373d41;
*/
.smooth-transition, .ghost-btn, .ghost-btn .coming-arrow {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* HERO */
.hero-div {
  min-height: 105vh; }

.hero-content * {
  z-index: 10; }

.logo-c2c {
  width: 450px; }

.cb-slideshow {
  z-index: -1;
  background-color: #000;
  min-height: 100vh; }

.hero-div-baap {
  max-width: 100vw; }

.type-row {
  font-size: 70px; }

.type-no {
  color: #1eb76e; }

.type-text {
  color: #fff; }

.hero-register-but {
  background: transparent !important;
  color: #fff;
  font-size: 19px;
  padding: 0.6rem 2.3rem;
  border: solid 1px #fff;
  border-radius: 40px; }

.hero-register-but:hover {
  background-color: #1a754a !important;
  border-color: #1a754a; }

.typewriter-char:nth-child(1) {
  color: #1eb76e; }

.typewriter-char:nth-child(2) {
  color: #1eb76e; }

.typewriter-char:nth-child(3) {
  color: #1eb76e; }

.typewriter-char:nth-child(4) {
  color: #1eb76e; }

.hero-fa:hover {
  color: #1eb76e; }

.hero-content {
  margin-top: 10vh;
}
/* footer */
.vit-logo-mobile {
  margin-top: -2.5rem;
}
@media only screen and (max-width: 500px) {
  .vit-logo-mobile {
    margin-top: -2rem;
  }
}
@media only screen and (max-width: 400px) {
  .vit-logo-mobile {
    margin-top: -1.5rem;
  }
}

@media only screen and (max-height: 700px) {
  .hero-content {
    margin-top: 5vh;
  }
}

@media only screen and (min-height: 1000px) {
  .hero-content {
    margin-top: 15vh;
  }
}

@media only screen and (min-height: 1300px) {
  .hero-content {
    margin-top: 20vh;
  }
}

@media (max-width: 769px) {
  .logo-c2c {
    width: 90%; }

  .type-row {
    font-size: 35px; }

  .hero-content {
    position: relative; } }
/* NAVBAR */
nav {
  background-color: #1e1e1e !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1001; }

.nav-wrap {
  margin-top: -20px;
   }
nav .nav-wrapper {
    position: relative;
    height: 100%;
    padding-right: 20px;
}
.brand-logo img {
  height: 60px;
  margin-left: 10px;
  margin-top: 0px;
  max-height: 100%;
  cursor: pointer; }

.fixednav {
  position: fixed;
  top: 0px; }

.nav-placeholder {
  height: 64px; }

.nav-wrap .active {
  color: #1eb76e; }

.nav-reg-but {
  background-color: #464646 !important; }

.nav-reg-but:hover {
  background-color: #333333 !important;
  color: #1eb76e !important; }

@media (min-width: 601px) {
  .brand-logo img {
    height: 70px; } }
/*ABOUT */

.about-box {
  background-color: #373d41;
  padding: 10px;
  color: #a8a8a8;
  cursor: default !important; }

.about-box .heading {
  margin-bottom: 30px; }

.about-box .heading::before, .about-box .heading::after {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.about-box:hover {
  background-color: #1eb76e;
  color: #000; }

.about-box:hover .heading::before {
  background-color: #000; }

/*FAQs*/
.faq-div {
  vertical-align: middle;
  color: #fff;
  padding: 15px;
  padding-right: 0px;
  background-color: #373d41; }

.faq-question {
  width: 75%;
  display: inline-block; }

@media (max-width: 370px) {
  .faq-question {
    width: 70%; } }
.faq-div .hamburger * {
  vertical-align: middle;
  font-size: 5px !important; }

.faq-wrapper.active .faq-div {
  background-color: #32383c; }

.faq-wrapper:hover .faq-div {
  background-color: #32383c; }

.faq-div .hamburger {
  margin-top: -10px; }

.faq-div .hamburger.is-active {
  margin-top: -13px; }

.hamburger:focus {
  background-color: transparent !important; }

.faq-details {
  display: none;
  margin-left: 10px; }

.faq-details-inner {
  padding: 10px;
  transition: border-left 0.2s ease-out;
  transition: padding-left 0.3s ease-out;
  border-left: 0px #1eb76e solid;
  margin: 10px; }

.faq-border-left-thick {
  border-left: 3px #1eb76e solid;
  padding-left: 20px; }

.faq-border-left {
  border-left: 2px #1eb76e solid; }

.faqs-div-wrap {
  box-shadow: 0px 20px 20px 8px #232527; }

.faq-wrapper {
  border-bottom: 2px solid #262a2d;
  cursor: pointer; }

  @media(min-width: 769px){
  .faqs-div-wrap{
    margin-left: 25px;
    margin-right: 25px;
  }
}
/*Why Sponsor Us*/
.sponsors-btn {
  background-color: transparent !important;
  border: solid 1px #fff;
  border-radius: 50px;
  font-size: 1.2rem; }

.sponsors-btn:hover {
  background-color: #1a754a !important;
  border-color: #1a754a; }

.ghost-btn {
  background-color: transparent !important;
  padding: 10px 15px;
  border: 1px solid #1eb76e;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: relative; }
  .ghost-btn .coming-arrow {
    color: #000;
    vertical-align: middle;
    color: #fff;
    opacity: 0;
    padding-left: 20px;
    top: 27.5%;
    display: inline-block;
    vertical-align: middle;
    right: 10px;
    position: absolute; }
  .ghost-btn:hover .coming-arrow {
    padding-left: 0px;
    opacity: 1; }
  .ghost-btn:hover {
    padding-right: 30px;
    background-color: #1eb76e !important; }
@media(max-width: 769px){
.row-onlybig{
  margin-left: 0px !important;
    margin-right: 0px !important;
}
.max100-mobile{
  width: 100% !important;
}
}
/* Organisers */
#owlCarousel_sponsors img{
  max-height: 150px;
  min-height: 120px;
}

#owlCarousel_sponsors .owl-stage-outer{
  /*padding: 1.5rem;*/
   /* background-color: #202427;*/
}

/*@media (min-width: 993px){
.sponsors-slider-row{
  margin-left: -5rem;
  margin-right: -5rem;
}
}*/
.divider-line {
  width: 5px;
  background-color: #1eb76e;
  height: 150px;
  vertical-align: middle; 
}

.organisers-logo-div img {
  max-width: 200px;
}

.in-association-text {
  color: #1eb76e;
  vertical-align: middle;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px; 
  padding-top: 2rem;
}

.organisers-wrap .site-text {
  text-align: center; }

@media (min-width: 769px) {
  .hrv-col {
    margin-left: -35px !important; }

  .organisers-wrap .site-text {
    text-align: left; } }
/*Contact us*/
input, textarea {
  color: #fff;
  border-bottom: 1px solid #525151 !important; }

.contactus-wrap label {
  color: #999 !important; }

.contactus-wrap label.active {
  color: #1eb76e !important; }

input:active, input:focus, textarea:focus {
  border-bottom: 1px solid #f2f2f2 !important;
  box-shadow: 0 1px 0 0 rgba(47, 47, 47, 0.2) !important; }

.contact-sub-but {
  background-color: #464646 !important; }

.contact-sub-but:hover {
  background-color: #333333 !important; }

.contactus-info {
  font-size: 1.4rem;
  color: #eee; }

.contactus-info a {
  color: #eee; }

.contactus-info .fa:hover {
  color: #1eb76e; }


/*# sourceMappingURL=home.css.map */

.devfolio-sponsor{
  width:250px!important;
}

.no-margin-top{
  margin-top:0!important;
}

.fold-sponsor{
  width:120px!important;
}

.sponsors-pic{
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.myButton {
	background-color:#82d4b0;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#357c63;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:16px 31px;
  text-decoration:none;
  transition: background-color 1s;
  transition: color 1s;
	/* text-shadow:0px 1px 3px #2f6627; */
}
.myButton:hover {
  transition: background-color 1s;
  transition: color 1s; 
  background-color:#add8ca;
  color: #2b854c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtonSM {
	background-color:#82d4b0;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#357c63;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:16px 31px;
  text-decoration:none;
  transition: background-color 0.8s;
  transition: color 0.8s;
	/* text-shadow:0px 1px 3px #2f6627; */
}
.myButtonSM:hover {
  transition: background-color 0.8s;
  background-color:#add8ca;
  transition: color 0.8s;
  color: #2b854c;
}
.myButtonSM:active {
	position:relative;
	top:1px;
}

@media only screen and (min-width: 993px) {
  .in-association-text {
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 1500px) {
  .in-association-text {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .sponsors-top-row>div {
    height: 150px;
  }
  .sponPad>div {
    min-height: 150px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1100px) {
  .sponPad img{
    width: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .sponPad img{
    width: 150px;
  }
  .type-row {
    font-size: 26px;
  }
  .hero-div h4, .hero-div h5 {
    font-size: 22px;
  }
}
