

<p>Dear <%= Name %>,</p>
<br>

<%= User %> has left your team.
<br>
You can send Invites to other users, to be in your team.<br>
Click
<a href="http://c2c.acmvit.in/user/showall">Send Request</a>
<br>
Regards,<br>
ACM-VIT
</p>


